<div class="container">
  <h1>News Headlines <%= DateTime.now.strftime("%m/%d/%Y")%></h1>
  <% @headlines.each do |h| %>
    <div class="headline">
      <h2><%= h.website %>:<h2>
      <h3><%= link_to h.title, h.url %></h3>
    </div>
    <br></br>
  <% end %>
</div>